body{
    margin:0px; 
    padding:0; 
}

.container{
    height: 40px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.item{
    margin: 2px; 
    margin-top: 0px; 
    
}

.custom-cursor {
    cursor: url(images/brush.png), auto;
  }

#black{
    background-color: black;
    color: white; 
    font-size: 26px; 
}

#red{
    background-color: red;
    color: white;
    font-size: 26px;  
}

#blue{
    background-color: blue;
    color: white; 
    font-size: 26px; 
}

#green{
    background-color: green;
    color: white; 
    font-size: 26px; 
}

#pink{
    background-color:rgb(255, 192, 203);
    color: teal; 
    font-size: 26px; 
}

#purple{
    background-color: rgb(128, 0, 170);
    color: white; 
    font-size: 26px; 
}
#yellow{
    background-color: yellow;
    color: blue; 
    font-size: 26px; 
}

p{
    margin-left: 800px;
    margin-top: 0px;
    font-size: 32px;
}